[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "sh -c 'PYTHONPATH=$(pwd)/src python3 -m server'"
local = "sh -c 'mh down && mh up mongodb && pipenv run start'"
test = "echo 'Not Yet Implemented'"
stepci = "stepci run ./test/stepci.yaml"
load = "stepci run ./test/stepci.yaml --loadtest"
build = "docker build --tag ghcr.io/agile-learning-institute/mentorhub-COLLECTION-api:latest ."
container = "sh -c 'mh down && pipenv run build && mh up COLLECTION-api'"

[packages]
flask = "*"
pymongo = "*"
prometheus-flask-exporter = "*"

[dev-packages]

[requires]
python_version = "3.12"
